<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.QandADAO-mapper">

	<!-- 게시글작성 -->
	<insert id="qandAWrite"  
					parameterType="QandAVO">
		INSERT INTO QANDA (
		  bnum,     
		  btitle,  
		  bid,      
		  bnickname,
		  bcontent,
		  bgroup
		) VALUES (
		  QANDA_BNUM_SEQ.nextval,  
		  #{btitle},  
		  #{bid},  
		  #{bnickname},
		  #{bcontent},
		  QANDA_BNUM_SEQ.currval
		)	
		<selectKey keyProperty="bnum" resultType="long" order="AFTER">
			select QANDA_BNUM_SEQ.currval from dual
		</selectKey>
	</insert>
	<!-- 첨부파일 저장  -->
	<insert id="fileWrite"
					parameterType="BoardFileVO">
		insert into board_upload_file	(
			  fid, 	  bnum, 	 fname, 	 fsize, 	 ftype, 	 fdata
		)values(
			board_upload_file_fid_seq.nextval, #{bnum}, #{fname}, #{fsize}, #{ftype}, #{fdata} 				
		)			
	
	</insert>
	
	<!-- 게시글보기 -->
	<select id="qandAview" 
					parameterType="long"
					resultType="QandAVO">
		SELECT
		  bnum,
		  btitle,
		  bid,
		  bnickname,
		  bcdate,
		  budate,
		  bhit,
		  bcontent,
		  bgroup,
		  bstep,
		  bindent
		FROM
		    QANDA
	</select>

	<!-- 조회수 +1증가 -->
	<update id="updateHit" 
					parameterType="long">
	
		update board
			 set bhit = bhit + 1
		 where bnum = #{bnum}
	</update>
	<!-- 게시글목록 -->
	<!-- 1)전체 -->
	<select id="qlist"
					resultType="QandAVO">
		SELECT
		  bnum,
		  btitle,
		  bid,
		  bnickname,
		  bcdate,
		  budate,
		  bhit,
		  bcontent,
		  bgroup,
		  bstep,
		  bindent
		FROM
		  QANDA
    order by bgroup desc,
             bstep asc
	</select>		  
	<!-- 2)검색어 없는 게시글페이징 -->
	
	<!-- 3)검색어 있는 게시글검색(전체,제목,내용,작성자ID,별칭) -->
	<select id="qlist3"
					parameterType="map"
					resultType="QandAVO">
         select bnum, 
                btitle,
                bid,
                bnickname,
                bcdate,
                budate,
                bhit,
                bindent
           from (select row_number() over(order by bgroup desc, bstep asc) as num, 
                     bnum,
                     btitle,
                     bid,
                     bnickname,
                     bcdate,
                     budate,
                     bhit,
                     bindent
                from QANDA)
    
	</select>
	<!-- 게시글답글작성 -->
	<insert id="reply"  
					parameterType="QandAVO">
		INSERT INTO board (
		  bnum,    
		  bcategory,  
		  btitle,  
		  bid,      
		  bnickname,
		  bcontent,
		  bgroup,
		  bstep,
		  bindent
		) VALUES (
		  board_bnum_seq.nextval,  
		  #{boardCategoryVO.cid},  
		  #{btitle},  
		  #{bid},  
		  #{bnickname},
		  #{bcontent},
		  #{bgroup},
		  #{bstep} + 1,
		  #{bindent} + 1
		)	
		<selectKey keyProperty="bnum" resultType="long" order="AFTER">
			select board_bnum_seq.currval from dual
		</selectKey>
	</insert>
	<!-- 이전 답글step 업데이트 -->
	<!-- 이전 답글중 원글의 bstep보다 큰값이 있는경우 bstep + 1증가 -->
	<update id="updateStep" 
					parameterType="map">
		update board
		   set bstep = bstep + 1
	   where bgroup = #{bgroup} and bstep > #{bstep}	
	</update>
	
	<!-- 첨부파일 조회 -->
	<select id="fileView"
					parameterType="long"
					resultType="BoardFileVO">
					
		SELECT fid, bnum, fname, fsize, ftype, fdata, cdate, udate
		  FROM board_upload_file
		 where fid = #{fid}					
	</select>

	<!-- 총 레코드수 -->
	<select id="totalRecordCount"
					parameterType="map"
					resultType="int">
		select count(t1.bnum) as totalcnt
      from board t1, board_category t2
     where t1.bcategory = t2.cid 
     <if test="searchType != null and list != null"> 
   		and
	 		<foreach item="item" collection="list"
	 			open="(" separator="or" close=")">   		
<!--  			<bind name="item" value="'%'+item+'%'"/> -->
      <choose>
      	<!-- 제목+내용 -->
      	<when test="searchType == 'TC'.toString()">
      		btitle 	 like  '%'||#{item}||'%' 
      		 or bcontent like  '%'||#{item}||'%' 
      	</when>
      	<!-- 제목 -->
      	<when test="searchType == 'T'.toString()">
      		btitle 	 like '%'||#{item}||'%'             	
      	</when>
      	<!-- 내용 -->
      	<when test="searchType == 'C'.toString()">
      		bcontent like '%'||#{item}||'%'             	
      	</when>               	
      	<!-- 작성자(별칭) -->
      	<when test="searchType == 'N'.toString()">
      		bnickname like '%'||#{item}||'%'                	
      	</when>                 	
      	<!-- 아이디 -->
      	<when test="searchType == 'I'.toString()">
      		bid like '%'||#{item}||'%'                	
      	</when>   
      	<!-- 전체 -->              	
       <otherwise>
      			 btitle 	 	like '%'||#{item}||'%' 
          or bcontent 	like '%'||#{item}||'%'                    
          or bnickname 	like '%'||#{item}||'%' 
          or bid 				like '%'||#{item}||'%' 
       </otherwise>
      </choose>
      </foreach>  
     </if>                        
	</select>
</mapper>